@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", serif;
}

.h1 {
  font-family: "Roboto Condensed", serif;
  font-size: 40px;
  font-weight: bolder;
  text-transform: uppercase;
}

.h2 {
  font-family: "Roboto Condensed", serif;
  font-size: 25px;
  font-weight: bold;
}

.h3 {
  font-family: "Roboto Condensed", serif;
  font-size: 30px;
  font-weight: bold;
}

.h4{
  font-family: "Roboto Condensed", serif;
  font-size: 20px;  
  font-weight: 700;
}


.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* Adjust for gutter */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 16px; /* Adjust for gutter */
}
.my-masonry-grid_column > div {
  margin-bottom: 16px; /* Adjust spacing between items */
}